// .main-container {
//   display: flex;
// }

.map {
  height: 100vh;
  position: sticky;
  top: 56px;
  // width: auto;
  flex-grow: 1;
  // z-index: -1
}

.home-flex {
  display: flex;
}

.cards-p {
 // margin-top: 5px;
 // z-index: -1;
}

// .cards-bikes .card-trip {
//   margin: 16px;
// }
