.user-booking-confirm {
  margin: 0;
  width: 100%;
  margin-top: 20px
}

.booking-infos {
  height: 640px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.booked-date {
  height: 100px;
  padding: 20px;
}

.booking-total-all {
  height: 150px;
  padding: 10px;
}

.checkout-btn {
  margin-top: 40px;
}

#new_payment {
  margin-top: 28%;
  float: right;
}

.booking-total {
  margin-top: 11%;
  font-size: 30px;
}
