.profile-container {
  margin: 0 auto;
  width: 80vw;
}

.user-show-name {
  padding-top: 30px;
  padding-left: 30px;
  text-align: center;
  margin-bottom: 30px;
}

// .user-info {
//   display: flex;
//   justify-content: space-between;
// }

.user-detail {
  margin-left: 30px;
}

.email {
  margin-left: 60px;
}

.user-show-image {
  height: 300px;
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.my-bike-title {
  text-align: center;
}

.profile-show {
  display: flex;
  justify-content: space-between;
}

.profile-nav {
  ul {
    padding: 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }
  li {
    padding: 15px;
    list-style: none;
    padding: 1px solid black;
    font-size: smaller;
    border-top: 1px solid rgba(40, 40, 40, 0.2);
    border-right: 1px solid rgba(40, 40, 40, 0.2);
    border-left: 1px solid rgba(40, 40, 40, 0.2);
  }
}

.bottom-profile-nav {
  border-bottom: 1px solid rgba(40, 40, 40, 0.2);
}

.profile-active {
  border-left: 3px solid red!important;
}

.profile-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.user-text {
  width: 350px;
}

.profile-field {
  background-color: #FAFBFC;
  padding-left: 10px;
  border: 1px solid #DDD;
  height: 35px;
  display: flex;
  align-items: center;
}
