.user-show-name {
  padding-top: 30px;
  padding-left: 30px;
}

.user-info {
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-detail {
  margin-left: 30px;
}

.email {
  margin-left: 60px;
}

.user-show-image {
  height: 300px;
  width: 300px;
}

.my-bike-title {
  text-align: center;
}

