<div class="booking-banner">
  <div class="booking-container">
      <a class="booking-navbar-logo">
        <%= link_to root_path do %>
          <img class="booking-navbar-logo" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
        <% end %>
      </a>
    <h4 class="booking-stage"><strong>Pick a Date </strong><span class="stage-space"> > </span> <span class="stage-space"> Review Booking </span><span class="stage-space"> > </span> <span class="stage-space"> Checkout </span></h4>
  </div>
</div>
