<div class="user-details">
  <img class="avatar dropdown-toggle" id="navbarDropdown" src="user-image-pe" />
  <div class="name-bookings">
    <p>Frederic Jonquieres</p>
    <p>130 bookings</p>
  </div>
  <div class="stars">
    <p>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
    </p>
  </div>
</div>
