<h1><%= @bike.bike_type %> - <%= @bike.make %> <%= @bike.model %></h1>

<%= image_tag @bike.photo, width: 300 %>

<div class="lets-book-card">
  <h2>Let's Ride!</h2>
  <% @rating[:full_stars].times do |time| %>
    <i class="fas fa-star"></i>
  <% end %>
  <% @rating[:half_stars].times do |time| %>
    <i class="far fa-star"></i>
  <% end %>
  <% @rating[:empty_stars].times do |time| %>
    <i class="far fa-star"></i>
  <% end %>
</div>
