.date-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.book-date {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
}

h2 {
  padding-bottom: 25px;
}
