.footer {
  background: $yellow;
  // margin-top: 15px;
  // display: flex;
  text-align: center;
  // justify-content: space-between;
  height: 120px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 20px;
}

.footer h3 {
  padding-top: 20px;
  color: $grey;
}

.footer-links a {
  color: $grey;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
  text-align: center;
  &:hover {
    opacity: 0.15;
  }
}
